:root {
  --colorTextos: #8dc9e6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: 1;
}

@font-face {
  font-family: "DoctorTerror";
  src: url(../fonts/DoctorTerror.otf);

  font-family: "Melted Monster";
  src: url(../fonts/MeltedMonster.ttf);

  font-family: "BloodLust";
  src: url(../fonts/BloodLust.ttf);

  font-family: "Nightcore Demo";
  src: url(../fonts/NightcoreDemo.ttf);
}


body {
  
  background-image: url(../img/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover auto;
  margin: 0;
  -webkit-text-size-adjust: 100%;          /* optional */
  -webkit-font-smoothing: antialiased;

}

#container-flex{
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  padding: 5px;
  margin: 10px;
  gap: 20px;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}


#imagenAhorcado{
  
  background-image: url(../img/Original_2.png);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 5px;
  display:inline-block;
  height: 460px;
  width: 300px;
  line-height: 120px;
  text-align: center;
  justify-content: center;
  margin: 1px;
  margin-bottom: 10px;
  transition-timing-function: linear;
  transition-delay: 0.1s;
  order: 2;
}

#imagenPerdedor{
  background-image: url(../img/perdedor_1.png);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 5px;
  display: none;
  height: 500px;
  width: 300px;
  line-height: 120px;
  text-align: center;
  justify-content: center;
  margin: 1px;
  margin-bottom: 10px;
  transition-timing-function: linear;
  transition-delay: 0.1s;
  order: 2;
  z-index: 20;
}

#imagenGanador {
  background-image: url(../img/ganador.png);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 5px;
  display: none;
  height: 500px;
  width: 300px;
  line-height: 120px;
  text-align: center;
  justify-content: center;
  margin: 1px;
  margin-bottom: 10px;
  transition-timing-function: linear;
  transition-delay: 0.1s;
  order: 2;
  z-index: 20;
}

#palabra_adivinar{
  width: 100%;
  height: 100%;
  text-align: center;
  color: rgb(82, 7, 7);
  text-shadow: 10px 10px 20px rgb(187, 17, 17);
  font-family: "Melted Monster", "BloodLust", "Nightcore Demo", "DoctorTerror";
}

#palabra_adivinar span {
  display: inline-block;
  position: relative;
  font-size: 1.5em;
  border-bottom: 4px solid rgba(255, 255, 255, 0.5);
  width: 30px;
  text-align: center;
  color: rgb(255, 255, 255);
  vertical-align: bottom;
  margin-right: 3px;
  top: 60px;
  order: 1;
}

#jugar {
  background-image: url(../img/Background.jpg);
  border-radius: 8px;
  border: 1px solid rgb(131, 125, 125);
  display: block;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 8px;
  text-align: center;
  font-size: 32px;
  font-family: "Nightcore Demo";
  order: 3;
}




#teclado{ 
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  height: 100%;
  align-items: space-between;
  justify-content: center;
  order: 5;
  margin: 2px;
}

#teclado button {
  display: none;
  border-radius: 8px;
  border: 3px outset #ffffff;
  font-size: 18px;
  height: 30px;
  width: 30px;
  margin: 2px;
  border-color: rgba(29, 26, 26, 0.8);
  background-color: rgba(250, 244, 244, 0.5);
   transition: all 1s ease;
  font-family: "Melted Monster", "BloodLust", "Helvetica Neue", Helvetica, Arial;
}

#teclado button:hover {
  box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff;
  background: rgb(82, 7, 7);
}

#container-flex-Dos{
  border: 1px solid rgb(97, 131, 243);
  display: flex;
  padding: 5px;
  
  gap: 10px;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

#contador{
  color: #fff;
  font-size: 26px;
  display: none;

}

#pie{
  border: 1px solid rgb(27, 27, 27);
  background-color: rgba(27, 27, 27, 0.5);
  display: flex;
  padding: 5px;
  margin: 1px;
  color: #fff;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
